h2{
    color : red;
}

#top{
    display: grid;
    grid-template-columns: 4fr 7fr 4fr;
    height: 10vw;
    margin-bottom: 3vw;
    padding-bottom: 10px;
    border-bottom: solid gray 0.1px;
    min-height: 10vw;
}

#top_img{
    width: 20vw;
    height: 10vw;
    margin: auto;
}

#top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 클래스 선택자를 사용할때는 (.)클래스명 */
.highlight{
    text-align: center;
}

#id{
    font-size: 6vw;
    font-weight: 100;
}

/* ID 선택자를 사용할때는 #클래스명 */
#profile{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}
/* ---썸네일--- */
.thumbnail_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.thumbnail{
    width: 100%;
}
/* ------------ */

/* 게시물,팔로워,팔로우 */
#stat_bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.stat{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
/* ------------ */

/* 사진동그랗게만들기 */
.circle_pic{
    border: solid white 1px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight_pic{
    height: 10vw;
    width: 10vw;

    margin: 0 auto;
}

#profile-pic{
    height: 15vw;
    width: 15vw;
}
/* ------------- */

#highlight_area{
    display: grid;
    grid-template-columns: 12vw 12vw 1fr;
    
}

#profile_info{
    display: grid;
    grid-template-rows : 1fr 1fr;
    height: 15vw;
}

button{
    height: 80%;
    width: 95;
    font-size: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
}

#top_input{
    height: 60%;
    width: 95%;

    margin : auto;
    text-align: center;
    height: 10vw;
    background-color: rgb(250,250,250);
    border: solid gray;
    border-radius: 3px;
    font-size: 3vw;
    font-weight: 100;

}

i{
    color: gray;
    cursor: pointer;
}

i:hover{
    color: black;
}

#top i{
    font-size: 4vw;
}

#top div{
    text-align: center;
    padding-top: 1vw;
}

#sub_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 2vw;
    text-align: center;
    height: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  
}



.selected:hover{
    cursor: pointer;
    border-bottom: solid gray 3px;
}

body{
    font-size: 3vw;
}
